@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #000;
  background: #000;
}

header{
  width: 100%;
  z-index: 100;
  position: fixed;
  padding: 10px;
  background: #061c36;
  color: aliceblue;
}

header h1{
  font-style: italic;
  text-align: center;
}

.sidenav{
  margin-top: 100px;
  width: 240px;
  background: #000;
  position: absolute;
  height: 100.5vh;
  padding: 0 30px;
  left: -100%;
  transition: all 0.8s;
}

.sidenav.active{
  left: 0;
}

.logo{
  margin-top: 30px;
  width: 100px;
}

.sidenav ul {
  padding: 0;
}

.sidenav ul li{
  list-style-type: none;  
  margin: 10px;
}

.sidenav ul li a{
  color: aliceblue;
  text-decoration: none;
  font-size: 20px;
  display: block;
  padding: 10px 15px;
  border-radius: 6px;
}

.sidenav ul li a:hover,
.sidenav ul li a:active{
  color: #3e72ad;
  background: #162637;
}

header svg {
  position: relative;
  margin-top: -100px;
  font-size: 40px;
  cursor: pointer;
}

.content{
  position: absolute;
  top: 50%;
  left: 50%;
}

video{
  position:absolute;
  z-index: -1;
  width: 110%;
  height: 110%;
  object-fit: cover;
  filter: brightness(0.4);
}

.video-containers h1{
  z-index: 1;
  font-size: 40px;
  left: 40%;
  color: aliceblue;
  position: absolute;
  top: 40%;
  text-align: center;
}

.video-containers p{
  z-index: 1;
  font-size: 24px;
  left: 41%;
  color: aliceblue;
  position: absolute;
  top: 50%;
  text-align: center;
}